/*tooltip*/

#tooltip_container{
	color: #fff;
	position: absolute; 
	padding: 20px;
	max width: 500px; 
	background-color: #666;
    -webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
}
    